<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Product List</div>
        <table border="1">
            <tr th:each="tabelini,count:${tabel_baru}">
                <td th:text="${count.index+1}"></td>
                <td th:text="${tabelini[0]}"></td>
                <td th:text="${tabelini[1]}"></td>
            </tr>
        </table>
        <hr>
        <table border="1">
            <tr th:each="tabelini,count:${tabel_baru}">
                <td th:text="${count.index+1}"></td>
                <td th:text="${tabelini[0]}"></td>
                <td th:text="${tabelini[1]}"></td>  
            </tr>
        </table>
        <hr>
    </body>
</html>
